<html>
  <head>
    <title>Weather App</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootflat/2.0.4/css/bootflat.css">
    <script type="text/javascript" 
      src="/js/jquery.min.js"></script>
    <script type="text/javascript"
      src="/javascripts/weather.js"></script>
  </head>
  <body>
    
    <div class="row">
      <div class="col-sm-6">
        <img id="weatherIcon" src="/images/broken-clouds.png" alt="broken clouds">
      </div>

      <div class="col-sm-6">
        <ul class="list-group">
          <li class="list-group-item">
            <img id='countryFlag' src="" />
            <span id="country">Country</span>
          </li>
          <li id="city" class="list-group-item">
            City
          </li>
          <li id="weather" class="list-group-item">
            Weather
          </li>
          <li id="temp" class="list-group-item">
            Temperature
          </li>
          <li id="message" class="list-group-item">
            Message
          </li>
        </ul>
      </div>
    </div>

    <!--<button class="btn" id="demo" onclick="getLocation()">DEMO</button>-->
  </body>
</html>



